@media screen and (min-width: 425px) {
  body {
    /* background-color: red; */
  }
  nav {
    padding: 24px;
  }
  .mainSpacing {
    margin-left: 88px;
    margin-right: 88px;
  }
  .logoText {
    font-size: var(--desktopFontSize);
  }
}

@media screen and (min-width: 680px) {
  /* .playerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
  } */
  .logoContainer {
    justify-content: left;
  }
  .playerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
